.container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.badge-forms {
    display: inline-block;
    width: 20%;
}

.category-forms {
    display: inline-block;
    width: 20%;
}

.edit-item {
    display: inline-block;
    width: 30%;
}

form {
    margin: 1rem;
    padding: 1rem;
}

.selected {
    background-color: lightblue;
}