

.badge-forms {
    margin-top: 1rem;
    display: inline-block;
    vertical-align: top;

}

.category-forms {
    margin-top: 1rem;
    display: inline-block;
    vertical-align: top;
}

.edit-item {
    margin-top: 1rem;
    display:inline-block;
    border: 1px solid lightgrey;
}

form {
    margin: 1rem;
    width: 300px;
    padding: 1rem;
}

.selected {
    background-color: lightblue;
}
