.hidden {
    display: none;
}

.heading {
    margin: 2rem;
}

.session {
    padding: 1rem;
    margin: 1rem;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    border-radius: 10px;
}

.btn {
    width: 30%;
    font-size: 1em;
}

.btn-danger {

}

input, textarea {
    margin-bottom: 15px;
    width: 80%;
}

label {
    font-weight: bold;
}

/*
form {
    margin-left: 30%;
    width: 40%;
    margin-top: 30px;
    padding: 20px;
    background-color: lightseagreen;
    border: 1px solid black;
}
*/